
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p style="font-size:50px;"> aanchalibookshop_</p>
<p style="color:red;">welcome to the admin panel</p>>

<ul>
    <li>comicbook</li>
    <li>mysterybook</li>
    <li>sci-fibook</li>
    <li>etc</li>
</ul>

div class="row">
<div class="columns"
            <img src="~/images/11111.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
            <img src="~/images/222.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
            <img src="~/images/images.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
         </div>
<div class="columns"></div>
    </div>
</body>
