@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to beady's bookshop</h1>
    <p class="lead">
        Beady’s Books is an established book store with ten retail outlets across Sydney, Sales have been declining of late and a recent customer survey has shown that the lack of an online shopping facility is one of the reasons for the decline.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@{ 
    Html.BeginForm("index", "home", FormMethod.Get); 
    <input type="text" title="search team" value="@ViewBag.search_term" name="search_term" />
    <input class="btn btn-success" type="submit" value="search" />
}
<p style="font-size:50px;"> aanchalibookshop_</p>
<p style="color:red;">welcome to the admin panel</p>>

<ul>
    <li>comicbook</li>
    <li>mysterybook</li>
    <li>sci-fibook</li>
    <li>etc</li>
</ul>

<img src="~/images/download.jpg" 
<div class="row">
    <div class="col-md-4">
        <h2>comic books</h2>
        <p>A comic book or comicbook, also called comic magazine or simply comic, is a publication that consists of comic art in the form of sequential juxtaposed panels that represent individual scenes. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ADD TO CART &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>mystery books</h2>
        <p>Mystery novels are often called “whodunnits” because they turn the reader into a detective trying to figure out the who, what, when, and how of a particular crime. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">ADD TO CART &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sci-fi</h2>
        <p>Science fiction (abbreviated SF or sci-fi with varying punctuation and capitalization) is a broad genre of fiction that often involves speculations based on current or future science or technology. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">ADD TO CART &raquo;</a></p>
    </div>
</div>
<body>
    <div class="row">
        <div class="columns"
            <img src="~/images/11111.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
            <img src="~/images/222.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
            <img src="~/images/images.jpg" />
            <a class="btn btn-block"> ADD TO CART</a>
         </div>
        <div class="columns"></div>
    </div>
</body>


